{{> navigation}}

<div id="divAlert">{{> message}}</div>
<div class="row">
    <div class="col">
        <div id="card_BM" class="card card_BM">
            <div class="card-body">
                <div class="tarjet-img" style="background-image: url(/img/Truck.svg); background-position: center;">
                    {{!-- <img class="info-img float-right" src="/img/Truck.svg"
                    alt="UNidades" /> --}}
                </div>
                <div class="row">
                    <span class="card-text text-white float-left h4" id="bloqMotor"></span>
                </div>
                <div class="row">
                    <span class="card-text float-left"><small class="text-muted smallfont">Bloqueo de
                            Motor.</small></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div id="card_USC" class="card card_USC">
            <div class="card-body">
                <div class="card-img">
                    <div class="tarjet-img"
                        style="background-image: url(/img/Sin-Conexion.svg); background-position: center;"></div>
                    {{!-- <img class="info-img float-right" src="/img/Sin-Conexion.svg"
                    alt="UNidades" /> --}}
                </div>
                <div class="row">
                    <span class="card-text text-white h4" id="unidadesSC"></span>
                </div>
                <div class="row">
                    <span class="card-text"><small class="text-muted smallfont">Unidades sin Conexión.</small></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div id="card_ZBC" class="card card_ZBC">
            <div class="card-body">
                <div class="card-img">
                    <div class="tarjet-img"
                        style="background-image: url(/img/Baja-Cobertura.svg); background-position: bottom;"></div>
                    {{!-- <img class="info-img float-right h4" src="/img/Baja-Cobertura.svg"
                    alt="UNidades" /> --}}
                </div>
                <div class="row">
                    <span class="card-text text-white h4" id="zonaBC"></span>
                </div>
                <div class="row">
                    <span class="card-text"><small class="text-muted smallfont">Zona de Baja Cobertura.</small></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div id="card_UD" class="card card_UD">
            <div class="card-body">
                <div class="card-img">
                    <div class="tarjet-img"
                        style="background-image: url(/img/Unidades-Detenidas.svg); background-position: center;"></div>
                    {{!-- <img class="info-img float-right h4" src="/img/Unidades-Detenidas.svg"
                    alt="UNidades" /> --}}
                </div>
                <div class="row">
                    <span class="card-text text-white h4" id="unidDetenidas"></span>
                </div>
                <div class="row">
                    <span class="card-text"><small class="text-muted smallfont">Unidades Detenidas.</small></span>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

{{#if (administrador user.idRol)}}
<div class="content">
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-dark mb-3" id="btn-vaciar-notify">Vaciar notificaciones</button>
        </div>
    </div>
</div>
{{/if}}

<div class="content" style="display: none;">
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-dark mb-3" id="btn-vaciar-notify">Vaciar notificaciones</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table bg-lightgrey table-hover table-font-size sortable" id="tabla-notificaciones2">
            <thead class="bg-gray">
                <tr>
                    <th class="pointer" scope="col">Unidad</th>
                    <th class="pointer" scope="col">Fecha/Hora</th>
                    <th class="pointer" scope="col">A.P.C.</th>
                    <th class="pointer" scope="col">Grupos</th>
                    <th class="pointer" scope="col">Usuario</th>
                    <th class="pointer" scope="col">Ubicación</th>
                    <th class="sorttable_nosort" scope="col"></th>
                </tr>
            </thead>
            <tbody class="break-text" id="table-body2">
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12 text-center d-flex justify-content-end">
                <ul id="pagination" class="pagination-sm"></ul>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="modalComent" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Comentarios</h3>
        </div>
        <div>
            <form action="/submit" method="POST" id="formComent">
                <div class="modalBody">
                    <input id="idNot" name="idNot" type="hidden" value="">
                    <div class="form-row mb-3">
                        <div class="col">
                            <label class="font-weight-bold" for="actividad">Selecciona una actividad</label>
                            <select class="form-control" id="actividad" name="actividad">
                                {{#each actividades}}
                                <option value="{{ id }}">{{ nombre }}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col">
                            <label class="font-weight-bold" for="estado">Selecciona estado</label>
                            <select class="form-control" id="estado" name="estado">
                                {{#each estados}}
                                <option value="{{ id }}">{{ nombre }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            <label class="font-weight-bold" for="aviso">Elige aviso del operador</label>
                            <select class="form-control aviso" id="aviso" name="aviso">
                                <option value="si">Sí</option>
                                <option value="no" selected>No</option>
                            </select>
                        </div>
                        <div class="col sectionCom" id="sectionCom">
                            <label class="font-weight-bold" for="comunicacion">Medio de comunicación</label>
                            <select class="form-control comunicacion" id="comunicacion" name="comunicacion">
                                {{#each comunicacion}}
                                <option value="{{ id }}">{{ nombre }}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <textarea class="form-control" id="comentarios" name="comentarios" rows="3"
                        placeholder="Ingrese un comentario"></textarea>
                </div>
                <div class="modalFooter d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                    <button type="button" class="btn btn-secondary" id="cancelar">Cancelar</button>
                </div>
            </form>
            <div class="my-3 mb-4 d-flex justify-content-center">
            </div>
            <div id="historialTabla" class="historialTabla"></div>
        </div>
    </div>
</div>

</main>
</div>

<!-- Modal Bloqueo de motor-->
<div id="modal_BM" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Bloqueo de motor</h3>
        </div>
        <div class="py-5 px-5">
            <ul id="list_BM" class="list-group list_font-size list-group-flush"></ul>
        </div>
    </div>
</div>

<!-- Modal Unidades sin conexión-->
<div id="modal_USC" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Unidades sin conexión</h3>
        </div>
        <div class="py-5 px-5">
            <ul id="list_USC" class="list-group list_font-size list-group-flush"></ul>
        </div>
    </div>
</div>

<!-- Modal Zona de baja cobertura-->
<div id="modal_UBC" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Zona de baja cobertura</h3>
        </div>
        <div class="py-5 px-5">
            <ul id="list_UBC" class="list-group list_font-size list-group-flush"></ul>
        </div>
    </div>
</div>

<!-- Modal Unidades detenidas-->
<div id="modal_UD" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Unidades detenidas</h3>
        </div>
        <div class="py-5 px-5">
            <ul id="list_UD" class="list-group list_font-size list-group-flush"></ul>
        </div>
    </div>
</div>

<!-- Modal de Advertencia -->
<div id='modal-error'>
    <div id="modal_advertencia" class="modaladvertencia">
        <div class="modal-content">
            <div class="modalHeader">
                <h3>Advertencia</h3>
            </div>
            <div class="py-5 px-5">
                El servidor se encuentra en proceso de reinicio. <br> <br>
                Favor de no actualizar la página, esta se iniciará en <span id='countdown'>03:00</span>
                {{!-- Ocurrió un error inesperado, la página se reiniciará despues de <span id='countdown'>03:00</span>
                minutos. --}}
            </div>
        </div>
    </div>
</div>

<!-- Modal borrar noritificaciones-->
<div id="modal_delete_notify" class="modal">
    <!-- Modal content -->
    <div class="modal-content"> 
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Atención</h3>
        </div>
        <div class="py-5 px-5">
            Las notificaciones serán enviadas a papelera, ¿Seguro que desea continuar?
        </div>
        <div class="modalFooter d-flex justify-content-end">
            <form action="/deleteAllnotify" method="POST">
                <button type="submit" class="btn btn-primary mr-3">Aceptar</button>
                <button type="button" class="btn btn-secondary" id="cancelar2">Cancelar</button>
            </form>
        </div> 
    </div>
</div>


<script>

    /////////////////// MODAL
    var modal = document.getElementById("modalComent");
    var cancelar = document.getElementById("cancelar");
    var cancelar2 = document.getElementById("cancelar2");
    var modal2 = document.getElementById("modal_delete_notify");
    var span = document.getElementsByClassName("cerrar")[0];
    //var btnHistorial = document.getElementById("btnHistorial");
    var histTabla = document.getElementById("historialTabla");

    cancelar2.onclick = function () {
        modal2.style.display = "none";
    }

    cancelar.onclick = function () {
        modal.style.display = "none";
        document.getElementById("idNot").value = "";
        document.getElementById("historialTabla").innerHTML = "";
        document.getElementById('actividad').value = "1";
        document.getElementById('estado').value = "1";
        document.getElementById('aviso').value = "no";
        document.getElementById('comunicacion').value = "1";
        document.getElementById('comentarios').value = "";
    }
    span.onclick = function () {
        modal.style.display = "none";
        document.getElementById("historialTabla").innerHTML = "";
        document.getElementById("idNot").value = "";
        document.getElementById('actividad').value = "1";
        document.getElementById('estado').value = "1";
        document.getElementById('aviso').value = "no";
        document.getElementById('comunicacion').value = "1";
        document.getElementById('comentarios').value = "";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            document.getElementById("idNot").value = "";
            document.getElementById("historialTabla").innerHTML = "";
            document.getElementById('actividad').value = "1";
            document.getElementById('estado').value = "1";
            document.getElementById('aviso').value = "no";
            document.getElementById('comunicacion').value = "1";
            document.getElementById('comentarios').value = "";
        }
    }
    /*btnHistorial.onclick = function () {

        if (histTabla.style.display === "") {
            histTabla.style.display = "block";
        } else if (histTabla.style.display === "none") {
            histTabla.style.display = "block";
        } else if (histTabla.style.display === "block") {
            histTabla.style.display = "none";
        }
    }*/

    /////////////Modals para mostrar Unidades
    var span_BM = document.getElementsByClassName("cerrar")[1];
    var span_USC = document.getElementsByClassName("cerrar")[2];
    var span_UBC = document.getElementsByClassName("cerrar")[3];
    var span_UD = document.getElementsByClassName("cerrar")[4];
    var span_notify = document.getElementsByClassName("cerrar")[5];
    var modal_BM = document.getElementById("modal_BM");
    var modal_USC = document.getElementById("modal_USC");
    var modal_UBC = document.getElementById("modal_UBC");
    var modal_UD = document.getElementById("modal_UD");
    var modal_advertencia = document.getElementById("modal_advertencia");

    var modal_span_BM = document.getElementById("bloqMotor");
    var modal_span_USC = document.getElementById("unidadesSC");
    var modal_span_ZBC = document.getElementById("zonaBC");
    var modal_span_UD = document.getElementById("unidDetenidas");

    span_BM.onclick = function () {
        modal_BM.style.display = "none";
    }
    span_USC.onclick = function () {
        modal_USC.style.display = "none";
    }
    span_UBC.onclick = function () {
        modal_UBC.style.display = "none";
    }
    span_UD.onclick = function () {
        modal_UD.style.display = "none";
    }
    span_notify.onclick = function () {
        modal_delete_notify.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal_BM) {
            modal_BM.style.display = "none";
        }
        if (event.target == modal_USC) {
            modal_USC.style.display = "none";
        }
        if (event.target == span_UBC) {
            modal_UBC.style.display = "none";
        }
        if (event.target == modal_UD) {
            modal_UD.style.display = "none";
        }
        if (event.target == modal_delete_notify) {
            modal_delete_notify.style.display = "none";
        }
    }

    $("#card_BM").click(function () {
        if (modal_span_BM.textContent !== "") {
            if (modal_span_BM.textContent !== "0") {
                modal_BM.style.display = "block";
            }
        }
    });
    $("#card_USC").click(function () {
        if (modal_span_USC.textContent !== "") {
            if (modal_span_USC.textContent !== "0") {
                modal_USC.style.display = "block";
            }
        }
    });
    $("#card_ZBC").click(function () {
        if (modal_span_ZBC.textContent !== "") {
            if (modal_span_ZBC.textContent !== "0") {
                modal_UBC.style.display = "block";
            }
        }
    });
    $("#card_UD").click(function () {
        if (modal_span_UD.textContent !== "") {
            if (modal_span_UD.textContent !== "0") {
                modal_UD.style.display = "block";
            }
        }
    });

    /////////////Pasa el id cuando se abre modal
    function idPass(id) {
        var changeclass = document.getElementsByClassName("modal")[0];
        changeclass.style.display = "block";

        document.getElementById("idNot").value = id;
        //document.getElementById("idNot2").value = id;
        historial(id);
    }

    ////////////Abrir modal de vaciar notificaciones
    document.getElementById('btn-vaciar-notify').addEventListener("click", function () {
        var changeclassNot = document.getElementsByClassName("modal")[5];
        changeclassNot.style.display = "block";
    });

    //////////////Aviso Operador - Mostrar ocultar select comunicacion
    const selectAviso = document.querySelector('#aviso');
    const selectComunicacion = document.querySelector('#sectionCom');

    selectAviso.addEventListener('change', (event) => {

        if (selectAviso.value === 'si') {
            selectComunicacion.style.display = "block";
            document.getElementById("aviso").style.width = "100%";
        } else if (selectAviso.value === 'no') {
            selectComunicacion.style.display = "none";
            selectComunicacion.value = "1";
            document.getElementById("aviso").style.width = "49%";
        }
    });

    /////////////////////Mandar id por el metodo POST para mostrar el historial
    function historial(id) {

        //const id = document.getElementById('idNot2').value;
        let divTabla = document.getElementById("historialTabla");

        fetch('/historial', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ id: id })
        })
            .then((res) => res.json())
            .then((data) => {
                var html = '';
                if (data.msj === "") {
                    html += `<table class="table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Comunicación</th>
                                    <th scope="col">Actividad</th>
                                    <th scope="col">Comentario</th>
                                    <th scope="col">Usuario</th>
                                </tr>
                            </thead>
                            <tbody>`;
                    data.coment.forEach(com => {
                        html += `<tr>
                            <th scope="row">${com.fecha}</th>
                            <td>${com.comunicacion}</td>
                            <td>${com.nombreAct}</td>
                            <td>${com.texto}</td>
                            <td>${com.nombre} ${com.apellido}</td>
                        </tr>`
                    });
                    html += `</tbody></table>`;
                    divTabla.innerHTML = html;
                } else {
                    html += `<div class="alert alert-warning mb-5" role="alert">${data.msj}</div>`;
                    divTabla.innerHTML = html;
                }
            })
            .catch((err) => console.log(err));
    }

    ////////////////////Paginacion
    var $pagination = $('#pagination'),
        totalRecords = 0,
        records = [],
        displayRecords = [],
        recPerPage = 18,
        totalPages = 0,
        page = 1;

    async function actualizar() {
        await fetch('/index', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then((res) => res.json())
            .then((data) => {
                //$("#table-body2").empty();
                records = data.results;
                totalRecords = records.length;
                totalPages = Math.ceil(totalRecords / recPerPage);
                apply_pagination();

            })
            .catch((err) => {
                console.log(err);
                cuentaRegresiva();
            });
    }

    async function generate_table() {
        var tr;
        $('#table-body2').html('');
        for (var i = 0; i < displayRecords.length; i++) {

            if (displayRecords[i].apc === null) {
                displayRecords[i].apc = "";
            }
            if (displayRecords[i].auc === null) {
                displayRecords[i].auc = "";
            }
            if (displayRecords[i].usuario === null) {
                displayRecords[i].usuario = "";
            }
            if (displayRecords[i].grupo === null) {
                displayRecords[i].grupo = "";
            }
            if (displayRecords[i].nombreNotif === null) {
                displayRecords[i].nombreNotif = "";
            }

            var gruposs = displayRecords[i].grupo.split(",");

            tr = $('<tr/>');
            tr = $('<tr>');
            tr.append('<td class="font-weight-bold">' + displayRecords[i].idUnidad + '</td>');
            tr.append("<td class='text-center'>" + displayRecords[i].fecha + "</td>");
            tr.append("<td>" + displayRecords[i].apc + "</td>");
            //tr.append("<td>" + displayRecords[i].auc + "</td>");
            tr.append("<td>" + gruposs[0] + ", " + gruposs[1] + "</td>");
            tr.append("<td>" + displayRecords[i].usuario + "</td>");
            tr.append('<td><a href="https://maps.google.com/?q=' + displayRecords[i].longitude + ',' + displayRecords[i].latitude + '" target="_blank">' + displayRecords[i].nombreNotif + '</a></td>');
            tr.append('<td><button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Comentarios" onclick="idPass(' + displayRecords[i].id + ')"> <i class="fa fa-edit"></i></button></td>');
            $('#table-body2').append(tr);
        }
    }
    async function apply_pagination() {
        if ($pagination.data("twbs-pagination")) {
            //$pagination.twbsPagination('destroy');
            var currentPage = $pagination.twbsPagination('getCurrentPage');
            $pagination.twbsPagination('destroy');
        }
        $pagination.twbsPagination({
            totalPages: totalPages,
            visiblePages: 6,
            startPage: currentPage,
            initiateStartPageClick: true,
            next: 'Siguiente',
            prev: 'Anterior',
            first: 'Inicio',
            last: 'Último',
            onPageClick: function (event, page) {
                displayRecordsIndex = Math.max(page - 1, 0) * recPerPage;
                endRec = (displayRecordsIndex) + recPerPage;
                displayRecords = records.slice(displayRecordsIndex, endRec);
                generate_table();
            }
        });
    }

    //Función cuenta regresiva
    function startTimer(duration) {
        var timer = duration, minutes, seconds;
        var x = setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
            document.getElementById("countdown").innerHTML = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }
            if (minutes == 0 && seconds == 0) {
                clearInterval(x);
                location.reload();
            }
        }, 1000);
    }

    function cuentaRegresiva() {
        var minutes = 60 * 3;
        modal_advertencia.style.display = "block";
        startTimer(minutes);
    }

    actualizar();

    //setInterval(actualizar, 20*60000);

    var spanBM = document.getElementById("bloqMotor");
    var spanUSC = document.getElementById("unidadesSC");
    var spanZBC = document.getElementById("zonaBC");
    var spanUD = document.getElementById("unidDetenidas"); 
</script>